.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid lightblue;
  border-radius: 5px;
  padding: 5px;
}

.population {
  min-width: 180px;
  margin-left: 10px;
  margin-right: 10px;
}

.countries {
  min-width: 73px;
  margin-left: 10px;
  margin-right: 10px;
}
